<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Text editor</title>
	
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body onload="loaduserid2(); sharefile();" style="background-color: #E6E6FA;" >
<!--<b>if u want to open the file?</b>
<input id="search-box" type="search" placeholder="Search.." onkeyup="searchNote(this.value)" /> --><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Username:</b>

<input type="button" name="" id="u_name">
<br><br><br>
<button style=" height: 35px; width: 150px;  border-radius: 4px;  border: none; background-color:  #3B5998; " ><a href="/savedfiles" style="font-size: 20px; text-decoration-line: none;  color: white; " >Saved Notes</a></button>


<br>
<table id="tableload" cellspacing="17">
    <thead>
        <tr style="font-size: 20px;">
            <th>No.</th>
            <th>Id</th>
            <th>File name</th>
            <th>content</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody >
    <% rows.forEach((row,ind) => { %>
     <tr >
         <td><%- ind +1 %>
         </td>   
         <td><%- row.id %></td>
         <td><a style="text-decoration-line: none;" href="/view/<%- row.filename%>"><%- row.filename%></a> </td>
         
         <td><%- row.info %></td>
         <td>
             <button>
                 <a style="text-decoration-line: none;" href="/<%- row.id %>" >Edit</a>
             </button>
         </td>
         <td>
             <button id="delete" onclick="DeleteNote(<%- row.id %>,this)">Delete</button>
         </td>
          <td>
             <button onclick="Sharefiles(<%- row.id %>,this)">Share</button>
         </td>
        </tr>
    <% }); %>
    </tbody>
</table>
<br><br>
<button style=" height: 35px; width: 150px;  border-radius: 4px;  border: none; background-color:  #3B5998; " ><a href="/sharedfiles" style="font-size: 20px; text-decoration-line: none;  color: white; " >Shared Notes</a></button>
<table id="tableshare" cellspacing="17"> 
    <thead>
        <tr style="font-size: 20px;">
            <th>No.</th>
            <th>Id</th>
            <th>File name</th>
            <th>content</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody >
    
    </tbody>
</table>
<script type="text/javascript">
   
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
 <script src="js/script.js"></script>
 <script src="js/ajax.js"></script>
</body>

</html>